footer {
    color:#301f05;
    background-color: #d1cdcd;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    width: 100%;
}

p {
background-color: #ffffff; 
color: #d88705;
border-radius: 5px; 
}
