/* Estilo para el contenedor del nav */
nav {
    background-color: #113545; /* Fondo del nav */
    padding: 10px 20px; /* Espaciado interno del nav */
  }
  
  /* Estilo para la lista desordenada dentro del nav */
  nav ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
    display: flex; /* Hacer que los elementos de la lista se alineen horizontalmente */
  }
  
  /* Estilo para cada elemento de la lista */
  nav ul li {
    color: #d1cdcd;
    margin: 0 15px; /* Espacio entre los elementos de la lista */
  }
  
  /* Estilo para los enlaces cuando se pasa el ratón por encima */
  nav ul li:hover {
    background-color: #2a5568; /* Color de fondo al pasar el ratón */
    color: #b1c57e;
    border-radius: 5px; /* Bordes redondeados */
  }

