
body {
    font-family: 'Arial', sans-serif;
    background: rgb(169,212,209);
    background: linear-gradient(90deg, rgba(169,212,209,1) 0%, rgba(126,240,230,1) 49%, rgba(42,189,222,1) 80%);
    margin: 10px;
    padding: 10px;
  }
  
  div {
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
